

.header{
	height: 100vh;
	background-image:url('../images/me.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative; 
	z-index: 1;

}

#title{
	width: 1000px;
	height: 300px;
	position: absolute;
	border: 5px solid yellowgreen;
	top: 200px;
	text-align: center;
}
#title #button{
	margin-top: 50px;
}

#particles-js #title{
	background-color:rgba(255,255,0,0.1);
}

#title h1{
	line-height: 100px;
	font-size: 80px;
}
#title h2{
	font-size: 70px;
	line-height: 100px;
}
.web{
	color:#d38c06;
}

#navbar a{
	text-decoration: none;
	padding: 2px 10px;
}
#navbar #ul a:hover{
  border-bottom: 2px solid tomato;
  transition: border 2s;
}

#about{
	height: 100vh;
	background-color: #e2e2e2;
	position: relative;
}

#about .content{
	z-index: 0;
	width: 500px;
	height: 500px;
	top: -300px;
	left: -200px;
	position: absolute;
	background-color: yellow;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
#about>img{
	position: absolute;
	z-index: 10;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
}
#about .container{
	position: absolute;
	left: 350px;
	top: 200px;

}
#title{
	width: 100px;
	height: 30px;
	position: absolute;
	border: 5px solid yellowgreen;
	top: 200px;
	text-align: center;
}


}
section{
	min-height: 100vh;
}
footer h1{
	margin: 0;
}




/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    #about>img{
	position: absolute;
	z-index: 10;
	top: 60px;
	left: 102px;
	width: 174px;
	height: 167px;
}

#about .container{
	/*position: none;*/
	left: -2px;
	top: 206px;
}


#title h1{
	line-height: 5px;
	font-size: 10px;
}
#title h2{
	font-size: 40px;
	line-height: 44px;
}



#title{
	width: 328px;
	height: 300px;
	position: absolute;
	border: 5px solid yellowgreen;
	top: 200px;
	text-align: center;
}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }